

  <div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="first">
                    <h4> &copy; Francel Menezes Contabilidade </h4>
                    <p> Rua Mauricio de Abreu, 493 - Loja, 25 de Agosto - Rio de Janeiro/RJ </p>
                    <p> Parceiros </p>
                    
                </div>
            </div>
 
            <div class="col-md-4 col-xs-12">
                <div class="second">
                    <center>
                        <h4> Navegação </h4>
                    </center>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/privacidade">Privacidade</a></li>
                        <li><a href="/sobre">Sobre</a></li>
                    </ul>
                </div>
            </div>
 
            <div class="col-md-4 col-xs-12">
                <div class="third">
                    <h4> Contato </h4>
                    <ul>
                        <li> <p> <i class="fas fa-phone"></i> (21) 2671-9155 </p> </li>
 
 
                      <li><i class="far fa-envelope"></i> escritoriofmc@francelmenezes.com</li>
 
 
                      <li><i class="fas fa-map-marker-alt"></i> Duque de Caxias, RJ  </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="line"></div>
                <div class="second2">
                    <a href="#"> <i class="fab fa-instagram" style="font-size: 60px; margin-left: 25px;"></i> </a>
                    <a href="#"> <i class="fab fa-youtube" style="font-size: 60px; margin-left: 25px;"></i> </a>
                    <a href="#"> <i class="fab fa-twitter" style="font-size: 60px; margin-left: 25px;"></i> </a>
 
                </div>
 
            </div>
        </div>
        </div>
 </div>  
   
 