.box-cookies.hide {
    display: none !important;
  }
  
  .box-cookies {
    position: fixed;
    background: rgba(0, 0, 0, .9);
    width: 100%;
    z-index: 998;
    bottom: 0;
    display: flex;
    align-items: center;
    
  }
  
  .box-cookies .msg-cookies,
  .box-cookies .btn-cookies {
    text-align: center;
    color: #fff;
    font-size: 18px;
  }

  .btn-cookies{
      margin-left: 30%;
      margin-right: 15px;
  }
  
  .box-cookies .btn-cookies {
    background: #148126;
    cursor: pointer;
    align-self: normal;
    border-radius: 0.5rem;
    border: 0;
  }
  
  @media screen and (max-width: 600px) {
    .box-cookies {
      flex-direction: column;
    }

    .btn-cookies{
        margin-left: 0;
        margin-right: 0;
    }
  }
  